<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymleaf-extras-springsecurity5">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div align="center">
    <form th:action="@{/createCustomer}" th:object="${customer}" method="post"
          style="max-width: 600px; margin: 0 auto"
          enctype="multipart/form-data">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                Email
            </label>
            <div class="col-sm-8">
                <input type="text" th:field="*{email}" class="form-control" required minlength="3" maxlength="45">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                PassWord
            </label>
            <div class="col-sm-8">
                <input type="text" th:field="*{password}" class="form-control"  minlength="3" maxlength="45">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                Full Name
            </label>
            <div class="col-sm-8">
                <input type="text" th:field="*{fullName}" class="form-control" required minlength="3" maxlength="45">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                Phone Number
            </label>
            <div class="col-sm-8">
                <input type="text" th:field="*{phoneNumber}" class="form-control" required minlength="3" maxlength="45">
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-4 col-form-label">
                Address Line1
            </label>
            <div class="col-sm-8">
                <input type="text" th:field="*{addressLine1}" class="form-control" required minlength="3" maxlength="45">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                Address Line 2
            </label>
            <div class="col-sm-8">
                <input type="text" th:field="*{addressLine2}" class="form-control" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                City
            </label>
            <div class="col-sm-8">
                <input type="text" th:field="*{city}" class="form-control" required minlength="3" maxlength="45">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                State
            </label>
            <div class="col-sm-8">
                <input type="text" th:field="*{state}" class="form-control" required minlength="3" maxlength="45">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                Postal Code
            </label>
            <div class="col-sm-8">
                <input type="text" th:field="*{postalCode}" class="form-control">
            </div>
        </div>
<!--        <div class="form-group row">-->
<!--            <label class="col-sm-4 col-form-label">-->
<!--                Created Time-->
<!--            </label>-->
<!--            <div class="col-sm-8">-->
<!--                <input type="text" th:field="*{createdTime}" class="form-control" >-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="form-group row">-->
<!--            <label class="col-sm-4 col-form-label">-->
<!--                Enabled-->
<!--            </label>-->
<!--            <div class="col-sm-8">-->
<!--                <input type="text" th:field="*{enabled}" class="form-control" >-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="form-group row">-->
<!--            <label  class="col-sm-4 col-form-label">-->
<!--                Vertification-->
<!--            </label>-->
<!--            <div class="col-sm-8">-->
<!--                <input type="text" th:field="*{verification}" class="form-control">-->
<!--            </div>-->
<!--        </div>-->
        <div class="text-center">
            <input type="submit" value="send" class="btn btn-primary">
        </div>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
